:root{
    --bg_color: #1F2937;
    --bg_dark_color: #111827;
    --pink_color: #8B5CF6;
    --text_color: #fff;
}

/**<--NAVIGATION-->*/
.navigation{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: fixed;
}
nav{
    padding: 35px;
    background-color: #111827;
    width: 100%;
    transition: .4s;
}
nav a{font-family: "Roboto", sans-serif;}
.navlinks{justify-content: space-between;}
.left_links, .right_links{display: none;}
.sm_links{
    overflow: hidden;
    transition: .4s;
    background-color: #111827;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}
.sm_links li{
    width: 60%;
    margin: auto;
    text-align: center;
}
.sm_links a{color: #fff;}
.navlinks .fa-bars, .navlinks .fa-earth-americas{
    cursor: pointer;
    padding: 10px;    
}
.navlinks .fa-bars{display: initial; color: #fff;}
.fa-earth-americas{
    color: #8B5CF6;
    border-bottom: 2px solid #8B5CF6;
}
.mode_btn img{
    border-radius: 50%;
    padding: 2px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}
.more_btn{
    display: flex;
    justify-content: center;
}
.more_btn button{
    background-color: #1F2937;
    border: 1px solid #d5d9d9;
    border-radius: 10px;
    box-shadow: #d5d9d980 0 2px 5px 0;
    color: #fff;
    display: inline-block;
    font: 600 italic 0.9rem "Roboto", sans-serif;
    letter-spacing: 1px;
    padding: 10px 15px;
    transition: .4s;
}
.more_btn button:hover {background-color: #111827;}
.more_btn button:focus {
    border-color: #008296;
    box-shadow: #d5d9d980 0 2px 5px 0;
    outline: 0;
}

/**<--HEADER-->*/
.header_content{gap: 30px; height: 60vh;}
.header_content h1, .header_content h2{font: 700 1.8rem "Roboto", sans-serif;}
.header_content h1{color: #fff;}
.header_content h2{color: #8B5CF6;}
.header_btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header_btns button{
    font:700 0.9rem "Roboto", sans-serif;
    width: 150px;
    border-radius: 5px;
    transition: .3s;
}
.look_btn{background-color: #8B5CF6;}
.look_btn:hover{background-color: #704ac9;}
.search_btn{background-color: black;}
.search_btn:hover{background-color: #1b1b1b;}
.search_box input{
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.fa-magnifying-glass{
    left: 8px;
    top: 13px;
}
.fa-xmark{
    right: 8px;
    top: 13px;
    color: #0707a0;
}
.bg_main, main, header, footer{background-color: #1F2937;transition: .4s;}

.rand_country{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #8B5CF6;
    cursor: pointer;
}
.rand_country_img{width: 100%;}
.rand_country_img img{
    width: 100%; 
    max-height: 60vh;
    object-fit: cover;
}
.rand_country_info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #111827;
}
.rand_country_info h3{
    display: inline-block;
    font: 600 1.5rem "Roboto", sans-serif;
    margin-bottom: 10px;
    transition: .4s;
    border-bottom: 2px solid #111827;
    color: #fff;
}
.rand_country:hover h3{border-bottom: 2px solid #fff;}
.rand_country_info a{
    font: 600 1rem "Roboto", sans-serif;
    color: #8B5CF6;
    text-decoration: underline;
}
.rand_country_info p{font: 400 1rem "Roboto", sans-serif;}

/**<--COUNTRIES-->*/
.countries{gap: 2%;}
.country {
    background: #111827;
    padding: 0;
    box-shadow: #63636333 0px 2px 8px 0px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.country_img {
    width: 100%;
    height: 200px;
}
.country_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.country:hover h3{border-bottom: 2px solid #fff;}
.country .country_region{font: 600 1rem "Roboto", sans-serif; color: #fff}
.country_name{
    display: inline-block;
    border-bottom: 2px solid #111827;
    transition: .4s;
    font: 700 1.5rem "Roboto", sans-serif; 
    color: #fff
}
.code{
    font: 400 0.9rem "Roboto", sans-serif; 
    color: #fff;
    margin: 10px 0;
}
.people_area_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.population, .area {
    white-space: nowrap;
    font: 400 0.9rem "Roboto", sans-serif;
    color: #fff;
}

/**<--DETAILS_HTML-->*/
.detail_box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    background-color: #111827;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: #63636333 0px 2px 8px 0px;
}
.country_detail_info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.country_name{color: #fff;}
.alpha_code{font: 400 0.9rem "Roboto", sans-serif;margin-left: 10px;color: #fff;}
.capital, .country_region, .alternative_name{font: 400 1rem "Roboto", sans-serif; margin: 5px 0;color: #fff;}
.alternative_name span{white-space: nowrap;}
.borders{flex-wrap: wrap;}
.border_name{
    background-color: #475569;
    font: 400 0.9rem "Roboto", sans-serif;
    cursor: pointer;
    padding: 2px 7px;
    margin-bottom: 10px;
}
.country_detail_img{
    width: 100%;
    height: 250px;
    img{
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }
}

/**<--FOOTER-->*/
.footer_content img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
footer p{font: 400 1rem "Roboto", sans-serif; color: #fff;}
.social{gap: 10px;}
.social i{
    background-color: #8B5CF6;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

@media (min-width:830px){
    .navlinks .fa-bars{display: none;}
    .mode_btn{
        position: absolute;
        right: 20px;
        top: 30px;
    }
    .navlinks{justify-content: center;}
    .left_links, .right_links{
        display: flex;    
        justify-content: center;   
        gap: 10px;
    }    
    .left_links a, .right_links a{
        color: #fff;
        border-bottom: 2px solid transparent;
        white-space: nowrap;
        transition: .4s;
    }
    .left_links a:hover, .right_links a:hover{border-bottom: 2px solid #e7e6e6;}
    .navlinks .fa-earth-americas{margin: 0 20px;}
    .header_content h1{font: 700 3rem "Roboto", sans-serif;}
    .header_content h2{font: 700 2.4rem "Roboto", sans-serif;}
    .header_btns{flex-direction: row;}
    .rand_country{
        width: 80%;
        margin: auto;
        flex-direction: row;
        border-bottom: none;
        box-shadow: #63636333 0px 2px 8px 0px;
    }
    .rand_country_img{width: 60%;}
    .rand_country_info{width: 40%;}
    .rand_country_info h3{font-size: 2.5rem;}
    .country{width: 48%;}
    .details{
        width: 100%;
        flex-direction: row;
    }
    .country_detail_info{width: 50%;}
    .country_detail_img{
        width: 50%;
        height: 300px;
    }    
}

@media (min-width:991px){
    .country{width: 32%;}
    .left_links, .right_links{gap: 20px;}
    .country_detail_info{width: 60%;}
    .country_detail_img{
        width: 40%;
        height: 300px;
    }    
}

