:root{
    --bg_color: #1F2937;
    --bg_dark_color: #111827;
    --pink_color: #8B5CF6;
    --text_color: #fff;
}

/**<--NAVIGATION-->*/
nav{padding: 35px;background-color: var(--bg_dark_color);}
nav a{font-family: "Roboto", sans-serif;}
.navlinks{justify-content: space-between;}
.left_links, .right_links{display: none;}
.sm_links{
    overflow: hidden;
    transition: .3s;
    background-color: var(--bg_dark_color);
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}
.sm_links li{
    width: 60%;
    margin: auto;
    text-align: center;
}
.sm_links a{color: var(--text_color);}
.navlinks .fa-bars, .navlinks .fa-earth-americas{
    cursor: pointer;
    padding: 10px;    
}
.navlinks .fa-bars{display: initial; color: var(--text_color);}
.fa-earth-americas{
    color: var(--pink_color);
    border-bottom: 2px solid var(--pink_color);
}
.mode_btn img{
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}

/**<--HEADER-->*/
.header_content{gap: 30px; height: 60vh;}
.header_content h1, .header_content h2{font: 700 1.8rem "Roboto", sans-serif;}
.header_content h1{color: var(--text_color);}
.header_content h2{color: var(--pink_color);}
.header_btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header_btns button{
    font:700 0.9rem "Roboto", sans-serif;
    width: 150px;
    border-radius: 5px;
    transition: .3s;
}
.look_btn{background-color: var(--pink_color);}
.search_btn{background-color: black;}
.search_btn:hover{background-color: rgb(27, 27, 27);}
.look_btn:hover{background-color: #704ac9;}
.search_box input{
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.fa-magnifying-glass{
    left: 8px;
    top: 13px;
}
.fa-xmark{
    right: 8px;
    top: 13px;
    color: #0707a0;
}
.bg_main, main, header, footer{background-color: var(--bg_color);}
.rand_country{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--pink_color);
    cursor: pointer;
}
.rand_country_info{padding: 20px;background-color: var(--bg_dark_color);}
.rand_country_img{width: 100%;}
.rand_country_img img{
    width: 100%; 
    max-height: 60vh;
    object-fit: cover;
}
.rand_country_info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rand_country_info h3{
    display: inline-block;
    font: 600 1.5rem "Roboto", sans-serif;
    margin-bottom: 10px;
    transition: .3s;
    border-bottom: 2px solid var(--bg_dark_color);
    color: var(--text_color);
}
.rand_country:hover h3{border-bottom: 2px solid var(--text_color);}
.rand_country_info a{
    font: 600 1rem "Roboto", sans-serif;
    color: var(--pink_color);
    text-decoration: underline;
}
.rand_country_info p{font: 400 1rem "Roboto", sans-serif;}

/**<--COUNTRIES-->*/
.countries{gap: 2%;}
.country {
    background: var(--bg_dark_color);
    padding: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}
.country_name{
    display: inline-block;
    border-bottom: 2px solid var(--bg_dark_color);
    transition: .3s;
}
.country:hover h3{border-bottom: 2px solid var(--text_color);}
.country_img {
    width: 100%;
    height: 200px;
}
.country_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.people_area_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.population, .area {
    white-space: nowrap;
    font: 400 0.9rem "Roboto", sans-serif;
    color: var(--text_color);
}
.country .country_region {font: 700 2rem "Roboto", sans-serif; color: var(--text_color);}
.country_name span{font: 600 1rem "Roboto", sans-serif; color: var(--text_color);}

/**<--DETAILS_HTML-->*/
.detail_box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    background-color: var(--bg_dark_color);
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.country_detail_info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.alpha_code{font: 400 0.9rem "Roboto", sans-serif;margin-left: 10px;color: var(--text_color);}
.country_name{
    font: 500 1.7rem "Roboto", sans-serif;
    color: var(--text_color);
}
.capital, .country_region, .alternative_name{font: 400 1rem "Roboto", sans-serif; margin: 5px 0;color: var(--text_color);}
.alternative_name span{white-space: nowrap;}
.borders{flex-wrap: wrap;}
.country_detail_img{
    width: 100%;
    height: 250px;
    img{
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }
}
.border_name{
    background-color: #475569;
    font: 400 0.9rem "Roboto", sans-serif;
    cursor: pointer;
    padding: 2px 7px;
    margin-bottom: 10px;
}

/**<--FOOTER-->*/
.footer_content img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
footer p{font: 400 1rem "Roboto", sans-serif; color: var(--text_color);}
.social{gap: 10px;}
.social i{
    background-color: var(--pink_color);
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

@media (min-width:830px){
    .navlinks .fa-bars{display: none;}
    .mode_btn{
        position: absolute;
        right: 20px;
        top: 30px;
    }
    .navlinks{justify-content: center;}
    .left_links, .right_links{display: flex;}
    .left_links, .right_links{
        justify-content: center;   
        gap: 10px;
    }    
    .left_links a, .right_links a{
        color: var(--text_color);
        border-bottom: none;
        white-space: nowrap;
        transition: .4s;
    }
    .left_links a:hover, .right_links a:hover{border-bottom: 1px solid #e7e6e6;}
    .navlinks .fa-earth-americas{margin: 0 20px;}
    .header_content h1{font: 700 3rem "Roboto", sans-serif;}
    .header_content h2{font: 700 2.4rem "Roboto", sans-serif;}
    .header_btns{flex-direction: row;}
    .rand_country{
        width: 80%;
        margin: auto;
        flex-direction: row;
        border-bottom: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .rand_country_img{width: 60%;}
    .rand_country_info{width: 40%;}
    .rand_country_info h3{font-size: 2.5rem;}
    .country{width: 48%;}
    .details{
        width: 100%;
        flex-direction: row;
    }
    .country_detail_info{width: 50%;}
    .country_detail_img{
        width: 50%;
        height: 300px;
    }    
}

@media (min-width:991px){
    .country{width: 32%;}
    .left_links, .right_links{gap: 20px;}
    .country_detail_info{width: 60%;}
    .country_detail_img{
        width: 40%;
        height: 300px;
    }    
}

